@model List<ResultSongDto>
@{
	var index = 0;
}

<section class="track spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="section-title">
					<h2>Son Şarkılar</h2>
					<h1>Müzikler</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 p-0">
				<div class="track__content nice-scroll">
					@foreach (var item in Model)
					{
						var playerId = "jquery_jplayer_" + index;
						var containerId = "jp_container_" + index;
						<div class="single_player_container">
							<h4>@item.SongName - @item.Singer</h4>
							<div id="@playerId" class="jp-jplayer jplayer" data-ancestor="#@containerId"
							data-url="@Url.Content("~/" + item.SongUrl)"></div>
							<div id="@containerId" class="jp-audio" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="player_controls_box">
										<button class="jp-play player_button" tabindex="0"></button>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar">
														<div class="jp-current-time" role="timer" aria-label="time">
															0:00
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
									<!-- Volume Controls -->
									<div class="jp-volume-controls">
										<button class="jp-mute" tabindex="0">
											<i class="fa fa-volume-down"></i>
										</button>
										<div class="jp-volume-bar">
											<div class="jp-volume-bar-value" style="width: 0%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						index++;
					}

				</div>
			</div>
			<div class="col-lg-5 p-0">
				<div class="track__pic">
					<img src="~/djoz-master/img/track-right.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>

<script src="~/js/jquery.jplayer.min.js"></script>

<script>
		$(".jplayer").each(function () {
		var player = $(this);
		var ancestor = player.data("ancestor");
		var url = player.data("url");

		player.jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					mp3: url
				});
			},
			swfPath: "/js",
			supplied: "mp3",
			cssSelectorAncestor: ancestor,
			wmode: "window",
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true,
			remainingDuration: true,
			toggleDuration: true
		});

		// Volume bar tıklanabilirlik
		var volumeBar = $(ancestor).find(".jp-volume-bar");
		var volumeValue = $(ancestor).find(".jp-volume-bar-value");

		volumeBar.on("click", function (e) {
			var offset = $(this).offset();
			var x = e.pageX - offset.left;
			var width = $(this).width();
			var volume = x / width;

			volume = Math.max(0, Math.min(1, volume)); // 0 ile 1 arası kal
			player.jPlayer("volume", volume); // sesi ayarla
			volumeValue.css("width", (volume * 100) + "%"); // görsel olarak da güncelle
		});
	});

</script>